<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="name.yyx.trojanow" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- <uses-sdk android:minSdkVersion="11" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewStatusActivity"
            android:label="@string/title_activity_new_status"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.yyx.trojanow.MainActivity" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_splash"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SigninActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.yyx.trojanow.MainActivity" />
        </activity>

        <service
            android:name=".serverpush.PushService"
            android:label="TrojaNow Server Notification" >
        </service>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:parentActivityName=".SigninActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.yyx.trojanow.SigninActivity" />
        </activity>
    </application>

</manifest>
